<!-- <h1 class="alert">{{calc_time()}}<br/>{{title}}</h1> -->
<ul>
    <li><a routerLink="/home">Home Page</a></li>
    <li><a routerLink="/students">Students List</a></li>
    <li><a routerLink="/dfg">error</a></li>
    <li><a routerLink="/account">account</a></li>
    <li><a routerLink="/demo/directive">demo</a></li>


</ul>

<router-outlet></router-outlet>

<!-- <student-list (onSaveNewStudentSendTests)="sendTests($event)"></student-list>
<app-show-tests [tests]="this.selectedStudent.tests"></app-show-tests>
<app-observable></app-observable> -->